<div style="background-color: #cafafe;padding-top:10px;">
<div class="displaydates" *ngFor="let i of data" 
        (click)="onWeatherClicked(i)" 
        style="text-align: center; cursor: pointer;">
    <div class="date"><b>DATE: {{i.dt_txt}}</b></div>
    <div class="mintemp">{{i.main.temp_min}}K</div>
    <span class="maxtemp">{{i.main.temp_max}}K</span>
    <div class="humidity"><span class="inn">{{i.main.humidity}} %</span><span class="inn">{{i.main.pressure}} hpa</span></div>
    <hr width="90%">
</div>
</div>