
.displaydates{
    background-color:#3feee6;
    border-color: #cafafe;
    border-radius: 30px;
    width: 40%;
    margin-left: 450px;
    font-family: monospace;
    margin-bottom: 10px;
}
.date{
    padding:20px;
    
}
.mintemp{
    background-color:#092A12; /* #9DFAB4*/
    color:white;
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
    display: inline-block;
    
}
.maxtemp{
    background-color: #400A3E;
    color:white;
    width: fit-content;
    padding: 5px;
    margin-left: 30px;
    border-radius: 25px;
}
.humidity{
    margin-top: 10px;
    text-align: center;
}

.inn{
    padding: 10px;
    text-align: center;
}
