<div class="outer">
    <div class="inner">
            <div>{{ weather.dt_txt }}</div>
            <div>Today</div>
            <div>
                <span class="deg">{{ weather.main.temp }} degree</span>

                {{ weather.weather[0].description }}
            </div>
            <div>Wind Speed: {{ weather.wind.speed }} m/s</div>
            <div>Humidity: 17%   Pressure: 997 hpa</div>
        
        <table>
            <tr>
              <th><span class="t_head">Temp</span></th>
              <th><span class="t_head">Min Temp</span></th>
              <th><span class="t_head">Max Temp</span></th>
              <th><span class="t_head">Pressure</span></th>
              <th><span class="t_head">Sea Level</span></th>
              <th><span class="t_head">Grnd Level</span></th>
              <th><span class="t_head">Humidity</span></th>
              <th><span class="t_head">Temp kelvin</span></th>
            </tr>
            <tr>
            <td class="t_body">{{weather.main.temp}}</td>
              <td class="t_body">{{weather.main.temp_min}}</td>
              <td class="t_body">{{weather.main.temp_max}}</td>
              <td class="t_body">{{weather.main.pressure}}</td>
              <td class="t_body">{{weather.main.sea_level}}</td>
              <td class="t_body">{{weather.main.grnd_level}}</td>
              <td class="t_body">{{weather.main.humidity}}</td>
              <td class="t_body">{{weather.main.temp_kf}}</td>
            </tr>
          </table>
    </div>    

    <div class="inner">
        <a (click)="goBack()" class="btn" style="cursor: pointer;"><b>Go Back</b></a>
    </div>
</div>