.outer{
    text-align: center;
    font-family: monospace;
}
table{
    width: 90%;
    margin-left: 90px;
}
div{
    padding:20px;
}
.btn{
    background-color: #400A3E;
    color:white;
    width:150px;
    padding:15px;
    border-radius: 25px;
}